@tailwind base;
@tailwind components;
@tailwind utilities;



.red_shadow{
    text-shadow: 0 0 4px red;
}
.green_shadow{
    text-shadow: 0 0 4px green;
}


/* To remove input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}